.word-set{
  outline: solid;
  width:300px;
  padding: 4px;
}

.word-set:hover {
  background: aliceblue;
}
span.to-lang {
  width: 150px;
}
span.from-lang {
  width: 150px;
  float: left;
}

/* It might be simpler to style the comma the same as the background. This works for now.*/
span.delim-hider {
  position: absolute;
  outline: solid black;
  background: black;
  height: 1em;
  width: 1px
}

span.nix{
  float: right;
}
span.nix:hover{
  font-weight: bold;
}
span.nix:after {
  content: "X";
}
